*{
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 1200px;
    margin: 0 auto; /*deixar centralizado */
    background-color: #D4FFDF;
}

h1{
    text-align: center;
    font-size: 38px;
    margin-top: 15px;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

span{
    font-weight: bold;
    color: #2f6a34;
    /* #2f6a34 */
    /* #6AAB6F */
}

.celular{
    width: 250px;
}

.sessao1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-email{
    margin-left: 30px;
}

.sessao-email-texto{
    margin: 0;
}

.email{
    width: 80%;
    height: 25px;
    border: 10px;
    margin: 10px 0;
}

.botao{
    width: 81%;
    height: 45px;
    margin: 10px 0;
}

section{
    padding: 30px 0; 
    /*tirou a parte branca de cima de baixo. */
    border-bottom: 1px solid #227541;
}

.sessao2-logo{
    display: flex;
    margin: 0 auto;
}

.sessao2-blocos{
    display: flex;  
}

.segunda-sessao p{
    text-align: justify;
}

.paragrafo{
    margin: 2%;
    margin-bottom: 0%;
}

.bloco{
    margin: 40px;
}
.sessao3{
    text-align: center;
}
.sessao3 img{
    width: 200px;
}

footer img{
    width: 300px;
    /*justify-content: space-between; space-around;*/   
}

footer{
    display: flex;
    /*colocou os itens nos cantos*/
    justify-content: space-between; 
    /*centralizou os campos cnetralizando em cima e em baixo*/
    align-items: center;   

    font-size: small;
    margin-bottom: 2%;

    margin-right: 3%;
    margin-left: 3%;
}



.sessao-email input[type='submit']{
    transition: all 0.5s ease;
    border-radius: 7px;
}


.sessao-email input[type='submit']:hover{
    color: white;
    background-color: gray;
    transition: all 0.5s ease;
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

@media screen and (max-width:1024px) {
    body{
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    *{
        margin-left: 5px;
        margin-right: 5px;
    }   

    h1{
        font-size: 25px; 
    }
    h2{
        font-size: 20px;
    }
    
    .sessao1{
        display: block;
        justify-content: center;
        text-align: center;
    }

    .sessao2-logo{
        display: flex;
        margin: 0 auto;
        width: 80%;
    }

    .sessao2-blocos{
        display: block;  
    }


    .segunda-sessao p{
        margin-left: 10px;
        margin-right: 10px;
    }

    /*.sessao3{
        display: block;
    }*/
    .sessao3 img{
        width: 150px;
    }
    


    footer img{
        padding-top: 15px; 
        width: 50%;
        /*justify-content: space-between; space-around;*/   
    }

    footer{
        display: block;
        text-align: center;    
    }

}